{:migrations
 {:verbose false}

 :storage
 {:basedir "/tmp/uxbox-tests/media"
  :baseuri "http://localhost:6060/media/"}

 :database
 {:adapter "postgresql"
  :username nil
  :password nil
  :database-name "test"
  :server-name "localhost"
  :port-number 5432}}
